* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 360px;
  height: 640px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_4 {
  width: 190px;
  height: 50px;
  background: rgba(115,33,129,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 15px;
  border-radius: 32px;
}
.v2_10 {
  width: 260px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 15px;
  border: 3px solid rgba(115,178,43,1);
  border-radius: 32px;
}
.v2_7 {
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 15px;
  border: 3px solid rgba(170,41,90,1);
  border-radius: 32px;
}
.v2_11 {
  width: 50px;
  height: 50px;
  background: rgba(174,192,46,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 295px;
  border-radius: 32px;
}
.v2_8 {
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 225px;
  border: 3px solid rgba(174,192,46,1);
  border-radius: 32px;
}
.v2_9 {
  width: 50px;
  height: 50px;
  background: rgba(115,178,43,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 295px;
  border-radius: 32px;
}
.v2_12 {
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 295px;
  border: 3px solid rgba(115,33,129,1);
  border-radius: 32px;
}
.v2_13 {
  width: 50px;
  height: 50px;
  background: rgba(75,42,134,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 15px;
  border-radius: 32px;
}
.v2_15 {
  width: 190px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 15px;
  border: 3px solid rgba(115,178,43,1);
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_16 {
  width: 190px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 155px;
  border: 3px solid rgba(174,192,46,1);
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_18 {
  width: 260px;
  height: 50px;
  background: rgba(115,33,129,1);
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 85px;
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_19 {
  width: 50px;
  height: 50px;
  background: rgba(170,41,90,1);
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 295px;
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_20 {
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 15px;
  border: 3px solid rgba(174,192,46,1);
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_21 {
  width: 50px;
  height: 50px;
  background: rgba(174,192,46,1);
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 295px;
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_22 {
  width: 50px;
  height: 50px;
  background: rgba(115,33,129,1);
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 225px;
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_23 {
  width: 50px;
  height: 50px;
  background: rgba(75,42,134,1);
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 15px;
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_24 {
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 85px;
  border: 3px solid rgba(170,41,90,1);
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v2_153 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  opacity: 1;
  text-align: center;

  padding-top: 10px;
  
  width: 260px;
  height: 50px;
  background: rgba(115,178,43,1);
  top: 411px;
  left: 15px;
  border-radius: 32px;
}
.v2_151 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  opacity: 1;
  text-align: center;

  padding-top: 10px;

  width: 260px;
  height: 50px;
  background: rgba(75,42,134,1);
  top: 99px;
  left: 85px;
  border-radius: 32px;
}
.v2_152 {
  width: 130px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 266px;
  left: 115px;
 
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  opacity: 1;
  text-align: center;

  padding-top: 10px;

  width: 190px;
  height: 50px;
  background: rgba(170,41,90,1);
  top: 255px;
  left: 85px;
  border-radius: 32px;
}