* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_127 {
  width: 360px;
  height: 640px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_128 {
  width: 330px;
  height: 177px;
  opacity: 1;
  background-color: transparent;
  position: absolute;
  top: 103px;
  left: 15px;
  border: 3px solid rgba(75,42,134,1);
  border-radius: 32px;
}
.uploaded-image {
  width: 330px;
  height: 177px;
  opacity: 1;
  background-color: transparent;
  position: absolute;
  top: 103px;
  left: 15px;
  border: 3px solid rgba(75,42,134,1);
  border-radius: 32px;
  object-fit: cover;
}
.name {
  position: absolute;
  width: 34px;
  height: 0px;
  left: 150px;
  top: 85px;
  border: 3px solid #4B2A86;
  transform: rotate(90deg);
  border-radius: 32px;
}
.v29_37 {
  width: 34px;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 150px;
  border: 3px solid rgba(75,42,134,1);
  border-radius: 32px;
}
.input-box {
  width: 330px;
  height: 110px;
  opacity: 1;
  position: absolute;
  top: 303px;
  left: 15px;
  border: 3px solid rgba(174,192,46,1);
  border-radius: 32px;
}
.input {
  width: 300px;
  height: 85px;
  background-color: transparent;
  border: none;
  margin-left: 13px;
  margin-top: 10px;
  left: 15px;
  font-family: 'Helvetica';
  color: rgba(255,255,255,1);
}
.input-2{
  width: 300px;
  height: 33px;
  background-color: transparent;
  border: none;
  margin-left: 13px;
  margin-top: 5px;
  left: 15px;
  font-family: 'Helvetica';
  color: rgba(255,255,255,1);
}
.input-box-2 {
  width: 330px;
  height: 38px;
  opacity: 1;
  position: absolute;
  top: 439px;
  left: 15px;
  border: 3px solid rgba(170,41,90,1);
  border-radius: 32px;
}
.v2_136 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 352px;
  left: 111px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  opacity: 1;
  text-align: left;
}
.v2_140 {
  width: 50px;
  height: 50px;
  background: rgba(115,178,43,1);
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 155px;
  border-radius: 32px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.v4_26 {
  width: 27px;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 166px;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 32px;
}
.v4_27 {
  width: 19px;
  opacity: 1;
  position: absolute;
  top: 566.5px;
  left: 180px;
  border: 2px solid rgba(255,255,255,1);
  transform: rotate(135deg);
  border-radius: 32px;
}
.v4_28 {
  width: 19px;
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 180px;
  border: 2px solid rgba(255,255,255,1);
  transform: rotate(-135deg);
  border-radius: 32px;
}
.v54_88 {
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 15px;
  border: 3px solid rgba(115,33,129,1);
  border-radius: 32px;
}
.v54_90 {
  width: 17px;
  opacity: 1;
  position: absolute;
  top: 53.5px;
  left: 23px;
  border: 2px solid rgba(115,33,129,1);
  transform: rotate(-135deg);
  border-radius: 32px;
}
.v54_91 {
  width: 29px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 26px;
  border: 2px solid rgba(115,33,129,1);
  transform: rotate(-180deg);
  border-radius: 32px;
}
.v54_92 {
  width: 17px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 23px;
  border: 2px solid rgba(115,33,129,1);
  transform: rotate(135deg);
  border-radius: 32px;
}
